<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>SAÉ DevOps</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
    </head>
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="../index.html">SAÉ DevOps</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="../index.html">Accueil</a></li>
                            <!-- Partie 1 -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Partie 1</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                                    <li><a class="dropdown-item" href="../parcours/linux-fundamentals-part-1.html">Offensive Security Intro</a></li>
                                    <li><a class="dropdown-item" href="../parcours/defensive-security-intro.html">Defensive Security Intro</a></li>
                                    <li><a class="dropdown-item" href="../parcours/search-skills.html">Search Skills</a></li>
                                    <li><a class="dropdown-item" href="../parcours/windows-fundamentals-1.html">Windows Fundamentals 1</a></li>
                                    <li><a class="dropdown-item" href="../parcours/windows-fundamentals-2.html">Windows Fundamentals 2</a></li>
                                    <li><a class="dropdown-item" href="../parcours/windows-fundamentals-3.html">Windows Fundamentals 3</a></li>
                                    <li><a class="dropdown-item" href="../parcours/active-directory-basics.html">Active Directory Basics</a></li>
                                    <li><a class="dropdown-item" href="../parcours/windows-commande-line.html">Windows Command Line</a></li>
                                    <li><a class="dropdown-item" href="../parcours/linux-fundamentals-part-1.html">Linux Fundamentals</a></li>

                                </ul>
                            </li>
                            <!-- Partie 2 -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Partie 2</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                                    <li><a class="dropdown-item" href="../parcours/careers-in-cyber.html">Careers in Cyber</a></li>
                                    <li><a class="dropdown-item" href="../parcours/what-is-networking.html">What is Networking?</a></li>
                                    <li><a class="dropdown-item" href="../parcours/dns-in-detail.html">DNS in Detail</a></li>
                                    <li><a class="dropdown-item" href="../parcours/http-in-detail.html">HTTP in Detail</a></li>
                                    <li><a class="dropdown-item" href="../parcours/how-websites-work.html">How Websites Work</a></li>
                                    <li><a class="dropdown-item" href="../parcours/putting-it-all-together.html">Putting it All Together</a></li>
                                </ul>
                            </li>
                            <!-- Partie 3 -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Partie 3</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                                    <li><a class="dropdown-item" href="../parcours/networking-concepts.html">Networking Concepts</a></li>
                                    <li><a class="dropdown-item" href="../parcours/cryptography-basics.html">Cryptography Basics</a></li>
                                    <li><a class="dropdown-item" href="../parcours/moniker-link.html">Moniker Link (CVE-2024-21413)</a></li>
                                    <li><a class="dropdown-item" href="../parcours/metasploit-introduction.html">Metasploit: Introduction</a></li>
                                    <li><a class="dropdown-item" href="../parcours/blue.html">Blue</a></li>
                                    <li><a class="dropdown-item" href="../parcours/web-application-basics.html">Web Application Basics</a></li>
                                    <li><a class="dropdown-item" href="../parcours/owasp-top-10-2021.html">OWASP Top 10 - 2021</a></li>
                                    <li><a class="dropdown-item" href="../parcours/common-attacks.html">Common Attacks</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Header-->
        </main>
</html>